/* Google Fonts 
	font-family: 'Reddit Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Inter', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
	scroll-behavior: smooth;
	overflow-x: hidden;	
	max-width: 100%;
}

:root {
	/* Background Colors */
	--bg-white: #ffffff;
	--bg-light-gray: #f3f3f3;
	--bg-pink: #36a2d5;
	--bg-blue-gray: #577186;
	--bg-teal-1: #1a4d4f;
	--bg-dark-cyan: #00393c;
	--bg-dark-cyan-2: #00383c;
	--bg-dark-gray: #1c1c1c;
	--bg-black-translucent: #000000b3;

	/* Text Colors */
	--text-white: #ffffff;
	--text-gray: #999999;
	--text-blue: #337ab7;
	--text-pink: #36a2d5;
	--text-blue-gray: #577186;
	--text-cyan: #00393c;
	--text-cyan-dark: #073238;
	--text-black: #000000;

	/* Fill Colors */
	--fill-pink-translucent: #36a2d5;
	--fill-cyan: #00393c;
	--fill-black: #000000;

	/* Border Colors */
	--border-pink: #36a2d5;
	--border-blue-gray: #577186;
	--border-cyan: #00393c;

	/* Extra (for clarity, if needed) */
	--contrast-bg-1: #00393c;
	--contrast-bg-2: #ffffff;

	/* fonts  */

	--font-primary: 'Reddit Sans', sans-serif;
	--font-secondary: "Open Sans", sans-serif;
	--font-tertiary: "Inter", sans-serif;	
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
body {
	font-family: var(--font-secondary), 'Segoe UI', sans-serif;
	background-color: #f7f7f7;	
	max-width: 100%;
	/* padding-top: 100px; */
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-primary), 'Segoe UI', sans-serif !important;
}

.header {
	background-color: var(--bg-light-gray);
	border-bottom: 1px solid #27262652;
	
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	position: relative;
	/* background-color: #f7e9bd2b;	 */
}

.header__logo a {
	display: inline-block;
	text-decoration: none;
	padding-left: 15px;
}

.logo-img {
	width: 190px;
	height: auto;
	max-height: 80px;
	object-fit: contain;
}

@media (max-width: 767px) {
	.header__logo {
		padding-top: 12px;
		padding-left: 12px;
		/* pehle wala space bhi include */
	}
}


.header__container .header__menu a {
	text-decoration: none;
	color: var(--text-gray);
}

.header__main .nav__items,
.header__right .nav__items {
	display: flex;
	gap: 1.5rem;
	list-style: none;
	flex-wrap: wrap;
	padding: 0;
}

.header__main .nav__items a {
	font-size: 0.9rem;
	cursor: pointer;
	transition: all 0.4s linear;
}

.header__main .nav__items a:hover {
	transition: all 0.3s;
	color: var(--text-pink);
	text-decoration: underline;
}

.header__right {
	margin-top: 2rem;
}

.header__right .nav__items {
	justify-content: flex-end;
}

.header__right ul .nav__item:first-child a:hover {
	color: var(--text-pink);
	text-decoration: underline;
}

.nav__item a.get-started {
	border: 1px solid #577186;
	padding: 0.5rem 1.5rem;
	border-radius: 2rem;
	color: #373737;
	transition: all 0.3s ease;
}

.nav__item a.get-started:hover {
	background-color: #577186;
	color: #fff;
}


/* hide toggle button on desktop */
.nav-toggle-z {
	display: none;
	font-size: 2rem;
	background: none;
	border: none;
	cursor: pointer;
	color: #373737;
}

.hero-section{
	position: relative;
}

/*  media queries */
@media (max-width: 1590px) {
	.header {
		padding: 0 2rem;
	}

	.header__logo a {
		padding-left: 0px;
	}

	.header__container {
		padding: 1rem 0;
	}
}

/* Only mobile view adjustments */
@media (max-width: 992px) {
	.header__container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0.8rem 1rem;
	}

	.nav-toggle-z {
		display: block;
	}

	.header__menu {
		position: fixed;
		top: 90px;
		/* adjust based on your logo height */
		left: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		background-color: var(--bg-dark-cyan);
		opacity: 0;
		display: none;
		flex-direction: column;
		gap: 2rem;
		padding: 1.5rem 2rem;
		z-index: 99;
	}

	.header__menu.active {
		opacity: 1;
		display: flex;
		transition: all 0.3s ease;
	}

	.backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.828);
		z-index: 99;
	}

	.no-scroll {
		overflow: hidden;
		height: 100vh;
	}

	.header__main .nav__items a {
		color: var(--text-white);
		font-size: 1.4rem;
		font-weight: 400;
		padding: 6px 0;
	}

	/* .header__main {		
		border-bottom: 1px solid var(--border-blue-gray);
	} */

	.header__container .header__menu a {
		color: var(--text-white);
		font-size: 1.3rem;
	}

	.header__main .nav__items{
		flex-direction: column;
		gap: 1.5rem;
		align-items: center;
		margin-top: 1.2rem;
	}
	.header__right .nav__items{
		gap: 1rem;
		justify-content: center;
	}

	.header__right {
		margin-top: 2rem;
	}
	.header__right .nav__item:first-child{
		display: none;
	}
	.header__right .nav__items{		
		padding: 0;
		gap: 1.5rem;
		justify-content: space-around;
	}
	.header__right .nav__item{
		width: 45%;		
	}
	.header__right .nav__item a{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 767px) {
	.header__container {		
		padding: 0.8rem 1rem;
	}
	.header__menu {		
		top: 85px;	
	}

	.header__main .nav__items a {		
		font-size: 1rem;		
	}
	.header__container .header__menu a {		
		font-size: 1rem;
	}
	.header__main .nav__items{
		flex-direction: column;
		gap: 1.2rem;
		align-items: center;
		padding: 0;
	}
	.header__right .nav__item:first-child{
		display: none;
	}
	.header__right .nav__items{		
		padding: 0;
		gap: 1.5rem;
		justify-content: space-around;
	}
	.header__right .nav__item{
		width: 45%;		
	}
	.header__right .nav__item a{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 575px) {	
	.header__menu {		
		top: 95px;	
	}
	.header__main .nav__items{
		flex-direction: column;		
	}	
	.header__right .nav__items{		
		flex-direction: column;		
	}
	.header__right .nav__item{
		width:100%;		
	}
	.trusted-section-w{
		display: none;
	}
	.mobile-slider-container{
		margin: 1.5rem auto;
	}	
}
  
/* for aos animation shift */
.row {
  margin-left: 0;
  margin-right: 0;
}
/* [data-aos] {
  overflow: hidden;
} */
