/* Google Fonts 
	font-family: 'Reddit Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Inter', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
	scroll-behavior: smooth;
	overflow-x: hidden;	
	max-width: 100%;
}
:root {
  --background-color: #ffffff;  
  --default-color: #212529;
  --heading-color: #32353a;
  --accent-color: #1e5a9a;
  --contrast-color: #ffffff; 

}
:root {
  --nav-color: #3a3939;
  --nav-hover-color: #36a2d5;
  --nav-dropdown-background-color: #ffffff;
  --nav-dropdown-color: #3a3939;
  --nav-dropdown-hover-color: #36a2d5;
}

.light-background {
  --background-color: #eef0f2;
  --surface-color: #ffffff;
}

.dark-background {
  --accent-color: #36a2d5;
  --background-color: #000;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #4f6171;
  --contrast-color: #ffffff;
}

:root {
	/* Background Colors */
	--bg-white: #ffffff;
	--bg-light-gray: #f3f3f3;
	--bg-pink: #36a2d5;
	--bg-blue-gray: #577186;
	--bg-teal-1: #1a4d4f;
	--bg-dark-cyan: #00393c;
	--bg-dark-cyan-2: #00383c;
	--bg-dark-gray: #1c1c1c;
	--bg-black-translucent: #000000b3;

	/* Text Colors */
	--text-white: #ffffff;
	--text-gray: #999999;
	--text-blue: #337ab7;
	--text-pink: #36a2d5;
	--text-blue-gray: #577186;
	--text-cyan: #00393c;
	--text-cyan-dark: #073238;
	--text-black: #000000;

	/* Fill Colors */
	--fill-pink-translucent: #36a2d5;
	--fill-cyan: #00393c;
	--fill-black: #000000;
	--accent-btn: #36a2d5;
	
	/* Border Colors */
	--border-pink: #36a2d5;
	--border-blue-gray: #577186;
	--border-cyan: #00393c;

	/* Extra (for clarity, if needed) */
	--contrast-bg-1: #00393c;
	--contrast-bg-2: #ffffff;

	/* fonts  */

	--font-primary: 'Reddit Sans', sans-serif;
	--font-secondary: "Open Sans", sans-serif;
	--font-tertiary: "Inter", sans-serif;	
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
body {
	font-family: var(--font-secondary), 'Segoe UI', sans-serif;
	background-color: #f7f7f7;	
	max-width: 100%;	
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-primary), 'Segoe UI', sans-serif !important;
}

.header {
	background-color: var(--bg-light-gray);
	border-bottom: 1px solid #27262652;
	
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 4rem;
	position: relative;
	/* background-color: #f7e9bd2b;	 */
}

.header__logo a {
	display: inline-block;
	text-decoration: none;
	padding-left: 15px;
}

.logo-img {
	width: 190px;
	height: auto;
	max-height: 120px;
	object-fit: contain;
}

@media (max-width: 767px) {
	.header__logo {
		padding-top: 12px;
		padding-left: 12px;
		/* pehle wala space bhi include */
	}
}


.header__container .header__menu a {
	text-decoration: none;
	color: var(--text-gray);
	
}

.header__main .nav__items,
.header__right .nav__items {
	display: flex;
	/* gap: 1.5rem; */
	gap: 2rem;
	list-style: none;
	flex-wrap: wrap;
	padding: 0;
	 margin-right: 5rem;
}

.header__main .nav__items a {
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.4s linear;
	font-weight: 500;
	 
}

.header__main .nav__items a:hover {
	transition: all 0.3s;
	color: var(--text-pink);
	text-decoration: underline;
}

.header__right {
	margin-top: 2rem;
	font-weight: 700;
}

.header__right .nav__items {
	justify-content: flex-end;
}

.header__right ul .nav__item:first-child a:hover {
	color: var(--text-pink);
	text-decoration: underline;
}

.nav__item a.get-started {
	border: 1px solid #577186;
	padding: 0.5rem 1.5rem;
	border-radius: 2rem;
	color: #373737;
	transition: all 0.3s ease;
}

.nav__item a.get-started:hover {
	background-color: #577186;
	color: #fff;
}


/* hide toggle button on desktop */
.nav-toggle-z {
	display: none;
	font-size: 2rem;
	background: none;
	border: none;
	cursor: pointer;
	color: #373737;
}

.hero-section{
	position: relative;
}

/*  media queries */
@media (max-width: 1590px) {
	.header {
		padding: 0 2rem;
	}

	.header__logo a {
		padding-left: 0px;
	}

	.header__container {
		padding: 1rem 0;
	}
}

/* Only mobile view adjustments */
@media (max-width: 992px) {
	.header__container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0.8rem 1rem;
	}

	.nav-toggle-z {
		display: block;
	}

	.header__menu {
		position: fixed;
		top: 90px;
		/* adjust based on your logo height */
		left: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		background-color: var(--bg-dark-cyan);
		opacity: 0;
		display: none;
		flex-direction: column;
		gap: 2rem;
		padding: 1.5rem 2rem;
		z-index: 99;
	}

	.header__menu.active {
		opacity: 1;
		display: flex;
		transition: all 0.3s ease;
	}

	.backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(26, 25, 25, 0.828);
		z-index: 99;
	}

	.no-scroll {
		overflow: hidden;
		height: 100vh;
	}

	.header__main .nav__items a {
		color: var(--text-white);
		font-size: 1.4rem;
		font-weight: 400;
		padding: 6px 0;
	}

	/* .header__main {		
		border-bottom: 1px solid var(--border-blue-gray);
	} */

	.header__container .header__menu a {
		color: var(--text-white);
		font-size: 1.3rem;
	}

	.header__main .nav__items{
		flex-direction: column;
		gap: 1.5rem;
		align-items: center;
		margin-top: 1.2rem;
	}
	.header__right .nav__items{
		gap: 1rem;
		justify-content: center;
		
	}

	.header__right {
		margin-top: 2rem;
	}
	.header__right .nav__item:first-child{
		display: none;
	}
	.header__right .nav__items{		
		padding: 0;
		gap: 1.5rem;
		justify-content: space-around;
	}
	.header__right .nav__item{
		width: 45%;		
	}
	.header__right .nav__item a{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 767px) {
	.header__container {		
		padding: 0.8rem 1rem;
	}
	.header__menu {		
		top: 85px;	
	}

	.header__main .nav__items a {		
		font-size: 1rem;		
	}
	.header__container .header__menu a {		
		font-size: 1rem;
	}
	.header__main .nav__items{
		flex-direction: column;
		gap: 1.2rem;
		align-items: center;
		padding: 0;
	}
	.header__right .nav__item:first-child{
		display: none;
	}
	.header__right .nav__items{		
		padding: 0;
		gap: 1.5rem;
		justify-content: space-around;
	}
	.header__right .nav__item{
		width: 45%;		
	}
	.header__right .nav__item a{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 575px) {	
	.header__menu {		
		top: 95px;	
	}
	.header__main .nav__items{
		flex-direction: column;		
	}	
	.header__right .nav__items{		
		flex-direction: column;		
	}
	.header__right .nav__item{
		width:100%;		
	}
	.trusted-section-w{
		display: none;
	}
	.mobile-slider-container{
		margin: 1.5rem auto;
	}	
}
  
/* for aos animation shift */
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
html,body{
max-width: 100%;
  overflow-x: hidden;
}


/* #preheader */
.space-horizontal{
  padding-inline:8rem;
}

.pre-header {
  background-color: #09656a; 
  color: var(--text-white);
  font-weight: 500;  
  z-index: 9999;
  display: flex;
  justify-content: end;
  align-items: center;  
}

.contact-info a{
  color: var(--bg-light-gray);
  text-decoration: none;
  font-size: 17px;
  padding: 10px;
  transition: all 0.3s ease-in;
}
.contact-info a:hover{
  background-color: #119197;
  color:#fff;
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  color: var(--default-color);
  background-color: var(--background-color);
  padding:1rem 0;
  transition: all 0.5s;
  z-index: 997;
}

.header .logo {
  line-height: 1;
}
.header  a{
  text-decoration: none;
  font-size: 17px;
}

.header .logo img {
  max-height: 36px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
  color: var(--accent-btn);
  position: relative;
}
.header .logo h1 span{
	color: var(--bg-dark-cyan);
}
.header .logo h1::after{
  content: '';
  background-color: var(--bg-pink);
  width: 60%;
  height: 2px;
  display: inline-block;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-radius: 10px;
  z-index: -1;
}

.header .logo span {
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 600;
  padding-left: 3px;
}
.header .btn-getstarted,
.header .btn-getstarted:focus {
  color: var(--contrast-color);
  background: var(--accent-btn);
  font-size: 17px;
  padding: 8px 26px;
  margin: 0;
  border-radius: 30px;
  transition: 0.3s;
  position: relative;
  font-weight: 500;
}

.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
  color: var(--contrast-color);
  background: color-mix(in srgb, var(--accent-btn), transparent 15%);
}

.header .btn-getstarted::after {
  content: '';
  background-color: var(--accent-btn);
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  z-index: -1;
  transition: all 0.6s;
}

.header .btn-getstarted:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.5);

}

/* btn code start here  */
@media (max-width:1400px){
  .space-horizontal{
    padding-inline:3rem;
  }
}

@media (max-width: 1200px) {
  .header .logo {
    order: 1;
  }
  .header{
    padding:1rem 0;
  }  
  .header .btn-getstarted {
    order: 2;
    margin: 0 15px 0 0;
    padding: 6px 20px;
  }

  .header .navmenu {
    order: 3;
  }
}

.scrolled .header {
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}

/* Index Page Header
------------------------------*/
.index-page .header {
  --background-color: rgba(255, 255, 255, 0);
  --heading-color: #ffffff;
  --nav-color: rgba(255, 255, 255, 0.5);
  --nav-hover-color: #ffffff;
}

/* Index Page Header on Scroll
------------------------------*/
.index-page.scrolled .header {
  --background-color: #ffffff;
  --heading-color: #32353a;
  --nav-color: #3a3939;
  --nav-hover-color: #e84545;
}

#deep_menu:hover .toggle-dropdown {
  transform: rotate(90deg) !important;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Navmenu - Desktop */
@media (max-width: 1850px) {
  }
@media (max-width: 1550px) {
  
}

@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-color);
    padding: 10px 12px;
    font-size: 17px;
    font-family: var(--font-primary);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 18px;
    transition: 0.3s;
  }

  .navmenu li:last-child a {
    padding-right: 0;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--accent-btn);
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: var(--nav-dropdown-background-color);
    display: block;
    position: absolute;
    visibility: hidden;
    left: 5px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px color-mix(in srgb, var(--default-color), transparent 85%);
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 0.5rem 1rem;
    font-size: inherit;
    text-transform: none;
    color: var(--nav-dropdown-color);
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover>a {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown:hover .toggle-dropdown {
    transform: rotate(180deg);
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }  
}

/* Navmenu - Mobile */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;    
  }

  .navmenu ul {
    width: 25%;
    display: none;
    position: absolute;
    inset: 0;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--nav-dropdown-background-color);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    box-shadow: 0px 0px 30px color-mix(in srgb, var(--default-color), transparent 90%);
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-dropdown-color);
    padding: 10px 20px;
    font-family: "Poppins", sans-serif !important;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: var(--nav-dropdown-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: none;
    transition: all 0.5s ease-in-out;
  }

  .navmenu .dropdown ul ul {
    background-color: rgba(33, 37, 41, 0.1);
  }

  .navmenu .dropdown>.dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #e6e6e6;
    position: absolute;
    font-size: 32px;
    top: 5px;
    left: 25.5vw;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .close-md-screen {
    display: none;
  }

  .open-md-screen {
    display: block;
  }
}

@media (max-width: 1200px) {
  .close-md-screen {
    display: block !important;
  }

  .open-md-screen {
    display: none;
  }
}

@media (min-width: 1500px) {
  .open-md-screen {
    display: none;
  }
}
@media (max-width: 1100px) {
  .mobile-nav-active .mobile-nav-toggle{
    left: 53%;
  }
    .navmenu ul{
      width: 50%;
    }
}
@media (max-width: 600px) {
  .mobile-nav-active .mobile-nav-toggle{
    left: 73%;
  }
    .navmenu ul{
      width: 70%;
    }
}
